main {
    width: 100vw;
    height: max-content;
}

#produto {
    width: 28.125rem;
    height: 31.25rem;
}

.produto__img {
    width: 50%;
}

.produto__descricao {
    width: 26rem;
}

.form {
    width: 100%;
}

.card__produtoEdita {
    width: 100%;
}

.card__imgEdita {
    width: 70%;
    border-radius: 1rem;
}

@media screen and (max-width: 1023px) {
    .form {
        width: 100%;
    }

    #produto {
        width: 100vw;
        height: auto;
    }
}
