
nav {
    background-color: white;
}

#profile__info {
    background-color: var(--verde-claro);
    width: 20.75rem;
    height: auto;
}

.profile__pic h3 {
    color: white;
}

.profile__lista-infos {
    color: white;
    list-style: none;
}

#compra__venda {
    width: 100%;
}

.cabecalho__titulo {
    font-size: 2rem;
    border-bottom: 3px solid var(--verde-claro);
}

.adicionar__Produto {
    text-decoration: none;
}

.compraEvenda__body {
    height: 100%;
    min-height: 15rem;
}

.remove__produto {
    background-color: rgb(231, 101, 101);
    border: 1px solid rgb(231, 101, 101);
    color: white;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.remove__produto:hover {
    background-color: transparent;
    color: rgb(231, 101, 101);
    border: 1px solid rgb(231, 101, 101);
}

@media screen and (max-width: 1023px) {
    #profile__info {
        display: none;
    }

    .cabecalho__titulo {
        font-size: 1rem;
        border-bottom: 3px solid var(--verde-claro);
    }

    .btn__banner {
        font-size: 0.7rem;
    }
}
